{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Revolutionizing the car retail experience with a seamless online platform</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>Enjoy complimentary 24/7 customer support for all your car rental needs. Our team is here to assist you, free of charge, every step of the way.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Experience super-fast car rental service with quick bookings, instant confirmation, and efficient customer support.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Prompt and reliable vehicle repair services available for rental cars to ensure minimal downtime and uninterrupted journeys</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>: Stay cool on the road with our fleet of cars equipped with efficient air conditioning systems, ensuring a comfortable journey in any weather</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Regular oil changes are included in our vehicle maintenance schedule, ensuring optimal performance and reliability for your rental</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Should you encounter any engine issues during your rental, rest assured that our skilled technicians are on hand to swiftly address and repair any problems, ensuring your journey continues smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Should you encounter any engine issues during your rental, rest assured that our skilled technicians are on hand to swiftly address and repair any problems, ensuring your journey continues smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>: Your safety is our priority. We ensure all vehicles undergo rigorous safety checks and maintenance. Additionally, our comprehensive insurance coverage provides peace of mind during your rental</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Rent with confidence through our trusted network of agents, providing reliable service and support throughout your rental experience.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Features</span></h3>
                    <p>Our car rental service offers a comprehensive range of features to ensure a seamless and convenient experience for our customers. With a diverse fleet of vehicles including cars, trucks, and SUVs, customers can easily find the perfect vehicle to suit their needs. Our online booking system is user-friendly, allowing customers to quickly and easily book their desired vehicle with options to specify pickup/drop-off locations and dates. We offer flexible rental periods, including hourly, daily, weekly, and monthly options, to accommodate various needs. </p>
                    <p class="mb-0">All our vehicles undergo regular maintenance checks to ensure safety and reliability for our customers. Additionally, we offer a range of additional services such as GPS navigation, child seats, and roadside assistance to enhance the rental experience.


                    </p>
                </div>
                
                
                
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
